body {
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  margin: 0;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #faeee5;
}

.second-title {
  font-size: 48px;
  font-weight: 900;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.accent-border {
  border-bottom: 2px solid #007825;
}

.switch-border {
  border: 2px solid #000000;
  border-radius: 60px;
}

.conteiner {
  max-width: 1280px;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

.main-button {
  display: block;
  margin: auto;
  width: 272px;
  height: 52px;
  border: 2px solid #087313;
  border-radius: 60px;
  background-color: inherit;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
}

.header {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 130px;
  top: 0;
  left: 0;
  background-color: #fff;
}

.header-conteiner {
  display: flex;
  height: 100%;
}

.logo-link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-img {
  width: 294px;
  height: 93px;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  margin-left: auto;
}

.nav-item {
  padding-top: 48px;
  padding-bottom: 48px;
  font-size: 20px;
  font-weight: 400;
}

.nav-item:not(:last-child) {
  margin-right: 37px;
}

.footer-conteiner {
  padding-top: 21.5px;
  padding-bottom: 114px;
  border-top: 1px solid #000000;
}

.contacts-list {
  margin-top: 52px;
  padding-bottom: 33px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.contakts-item {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
}

.contacts-kind {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 400;
}

.contacts-link {
  border-bottom: 1px solid #007825;
}

.copyright {
  display: flex;
  padding-top: 19px;
}

.copyright-paragraph {
  font-size: 16px;
  font-weight: 400;
}

.social-list {
  display: flex;
  margin-left: auto;
}

.social-item:not(:last-child) {
  margin-right: 24px;
}

.hero {
  padding-top: 130px;
  background-color: #fff;
}

.hero-conteiner {
  position: relative;
  /* display: flex; */
  display: grid;
  /* grid-template-columns: 50% 50%; */
  /* grid-template-rows: 25% 25% 25% 25%; */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  /* grid-template-rows: [row1-start] 25% [row1-end] 25% [third-line] 25% [last-line]25%; */
}

.main-title {
  display: block;
  /* margin-top: 270px;
    margin-bottom: 204px; */
  /* grid-column-start: 1; */
  /* grid-column-end: 2; */
  /* grid-row-start: 2; */
  /* grid-row-end: 3; */
  grid-area: 2/1/3/2;
  align-self: center;
  font-size: 64px;
  font-weight: 900;
}

.hero-contents {
  position: absolute;
  /* right: 0; */
  /* top: 0; */
  /* grid-column-start: 2; */
  /* grid-column-end: 2; */
  /* grid-row-start: 1; */
  /* grid-row-end: 5; */
  grid-area: 1/2/5/3;
  margin-right: -40px;
}

.contents-text {
  margin-top: 19px;
  /* width: 764px; */
  font-size: 14px;
  font-weight: 400;
}

.housing {
  /* padding-top: 58px;
    padding-bottom: 122px; */
  /* grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;

  grid-area: 4/1/5/2;

  align-self: center; */
  padding-top: 20px;
}

.housing-list {
  display: flex;
  font-size: 16px;
  font-weight: 300;
}

.housing-item:not(:last-child) {
  margin-right: 113px;
}

.housing-amount {
  display: block;
  font-size: 96px;
}

.projects-conteiner {
  padding-top: 122px;
  padding-bottom: 48px;
}

.projects-list {
  padding-top: 41px;
  padding-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 24px;
}

.project-item {
  width: 384.33px;
  justify-self: center;
}

.projects-img {
  /* width: 384.33px; */
  /* height: 319.79px; */
  border-radius: 3%;
}

.project-title {
  margin-top: 4px;
  font-size: 20px;
  margin-bottom: 3px;
  font-weight: 400;
  /* width: 384.33px; */
  text-align: center;
}

.project-date {
  font-size: 16px;
  font-weight: 400;
  width: 384.33px;
  text-align: center;
}

.news-conteiner {
  padding-bottom: 119.5px;
}

.news-list {
  padding-top: 41px;
  padding-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 24px;
}

.news-item {
  width: 384.33px;
  justify-self: center;
}

.news-date {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 400;
}

.news-title {
  margin-top: 4px;
  font-size: 20px;
  font-weight: 400;
}

.news-text {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
}

.button-list {
  display: flex;
  margin-top: 47px;
  margin-bottom: 31px;
  justify-content: center;
}

.button-item:not(:last-child) {
  margin-right: 5px;
}

.switch-button {
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 400;
  /* border-radius: 40%; */
  display: block;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.49);
  border-radius: 60px;
  background-color: inherit;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.page-title {
  background-color: #fff;
  padding-top: 130px;
}

#slider-wrapper {
  display: block;
  min-height: 100px;
  margin: auto;
  position: relative;
}

#slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
}

#slider > ul {
  list-style: none;
  height: 100%;
  width: 500%;
  overflow: hidden;
  position: relative;
  left: 0px;
  transition: left 0.5s;
}

#slider > ul > li {
  width: 20%;
  float: left;
  position: relative;
}

#slider > ul > li p {
  padding: 10px;
}

#slider > ul > li > img {
  margin: auto;
  width: 100%;
}

#slider-wrapper input[type=radio] {
  position: absolute;
  left: 50%;
  bottom: 15px;
  z-index: 100;
  visibility: hidden;
}

#slider-wrapper label {
  position: absolute;
  left: 50%;
  bottom: 30px;
  z-index: 1;
  width: 15px;
  height: 15px;
  background: #222;
  cursor: pointer;
  transition: background-color 0.5s;
  border-radius: 50px;
  border: 1px solid #6b6969;
}

#slider-wrapper #button-1:checked ~ label[for=button-1] {
  background: rgba(255, 255, 255, 0.1);
}

#slider-wrapper #button-2:checked ~ label[for=button-2] {
  background: #888;
}

#slider-wrapper #button-3:checked ~ label[for=button-3] {
  background: #888;
}

#slider-wrapper #button-4:checked ~ label[for=button-4] {
  background: #888;
}

#slider-wrapper #button-5:checked ~ label[for=button-5] {
  background: #888;
}

#slider-wrapper label[for=button-1] {
  margin-left: -40px;
}

#slider-wrapper label[for=button-2] {
  margin-left: -20px;
}

#slider-wrapper label[for=button-4] {
  margin-left: 20px;
}

#slider-wrapper label[for=button-5] {
  margin-left: 40px;
}

#slider-wrapper #button-1:checked ~ #slider > ul {
  left: 0;
}

#slider-wrapper #button-2:checked ~ #slider > ul {
  left: -100%;
}

#slider-wrapper #button-3:checked ~ #slider > ul {
  left: -200%;
}

#slider-wrapper #button-4:checked ~ #slider > ul {
  left: -300%;
}

#slider-wrapper #button-5:checked ~ #slider > ul {
  left: -400%;
}

.options-conteiner {
  background-color: #fff;
  width: 100%;
}

.carousel {
  padding-top: 130px;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 23px;
  row-gap: 20px;
}

.price {
  font-size: 24px;
}

.options-paragraph {
  margin-bottom: 46px;
  grid-area: 2/2/4/2;
  font-size: 32px;
}

.options-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-area: 3/1/3/3;
  -moz-column-gap: 60px;
       column-gap: 60px;
  row-gap: 60px;
  padding: 26px 29px;
  background-color: #FED6B8;
  border-radius: 20px;
  position: absolute;
  width: 100%;
  top: -11%;
  right: -2%;
}

.table-items {
  align-self: center;
}

.description {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 150px;
  padding-bottom: 80px;
}

.description-block {
  grid-area: 1/2/2/3;
}

.description-title {
  margin-bottom: 29px;
  font-size: 36px;
  font-weight: 900;
}

.description-text {
  margin-bottom: 29px;
  font-size: 20px;
  font-weight: 400;
}

.description-button {
  display: block;
  margin: auto;
  width: 100%;
  padding: 12px;
  border: 2px solid #087313;
  border-radius: 60px;
  background-color: inherit;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
}

.buttons-item:not(:last-child) {
  margin-bottom: 8px;
}

.project-contact {
  padding: 24px;
  margin-top: 53px;
  background-color: #FED6B8;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.contacts-title {
  margin-bottom: 29px;
  font-size: 36px;
  font-weight: 900;
}

.contact-name {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 400;
}

.contacts-item {
  margin-bottom: 8px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  pointer-events: none;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 130px;
  height: 130px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border: none;
}

.close-svg {
  width: 33.82px;
  height: 32px;
}

.contacts-conteiner {
  padding-top: 82px;
  padding-bottom: 82px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contacts {
  grid-area: 1/1/2/2;
}

.contacts__list-item {
  font-size: 20px;
}

.contacts__list-item:not(:last-child) {
  margin-bottom: 40px;
}

.contacts-kind {
  margin-bottom: 32px;
  font-size: 36px;
}

.persons-list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  grid-area: 1/2/2/3;
}

.persons-item {
  width: 270px;
  text-align: center;
}

.persons-item > .persons-name {
  margin-top: 24px;
  margin-bottom: 11px;
  font-size: 20px;
}

.persons-phone {
  margin-top: 13px;
  margin-bottom: 8px;
}

.contacts__form {
  grid-area: 2/2/3/3;
  margin-top: 63px;
}

.contacts__form-title {
  margin-bottom: 42px;
  font-size: 36px;
  font-weight: 900;
}

.partners {
  padding-top: 82px;
  grid-area: 3/1/4/3;
  text-align: center;
}

.partners > h3 {
  font-size: 36px;
  font-weight: 900;
}

.partners__list {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  align-items: center;
}

.partner-item:not(:last-child) {
  margin-right: 50px;
}

.contacts__form {
  font-size: 20px;
}

.contacts__form-formfield {
  margin-bottom: 35px;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.contacts__form-formfield > input, textarea {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
}

.contacts__form-formfield > textarea {
  height: 100%;
}

.contacts__form-formfield > input::-moz-placeholder, textarea::-moz-placeholder {
  color: #000;
  font-size: 20px;
}

.contacts__form-formfield > input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #000;
  font-size: 20px;
}

.contacts__form-formfield > input::placeholder, textarea::placeholder {
  color: #000;
  font-size: 20px;
}

.contacts__form-formfield > input:focus, textarea:focus + .contacts__form-formfield {
  border-bottom: 1px solid #007B25;
}

.contacts__form-formfield > input:focus, textarea:focus {
  outline: none;
}

.contacts__form-message {
  height: 100px;
}

.contacts__form-consent > label {
  display: flex;
  align-items: center;
}

.contacts__form-consent > label::before {
  content: "";
  display: inline-block;
  min-width: 30px;
  min-height: 30px;
  margin-right: 12px;
  border: 1px solid #000000;
  cursor: pointer;
}

.contacts__form-button {
  margin-top: 41px;
}

.news__options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 23px;
  row-gap: 20px;
}

.news__options-paragraph {
  grid-column-start: 2;
  grid-row-start: 2;
  margin-bottom: 17px;
  font-size: 32px;
}

.news__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 47px;
  padding-top: 18px;
  padding-bottom: 184px;
  font-size: 20px;
}

.news__description p {
  grid-column-start: 2;
}

.news__main-image {
  grid-column-start: 1;
  grid-column-end: 3;
}

.news__description-blok {
  grid-column-start: 2;
}

.news__description-blok h3 {
  margin-bottom: 29px;
  font-size: 36px;
  font-weight: 900;
}

.quote {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
}

.news__quote-author {
  font-weight: 400;
}

.news__second-image {
  grid-column-start: 2;
  grid-column-end: 3;
}

.news__housing-description {
  margin-top: 16px;
  padding-bottom: 29px;
  margin-bottom: 18px;
  border-bottom: 1px solid #000;
}

.about__title-conteiner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 21px;
  padding-top: 24px;
  padding-bottom: 17px;
}

.about__title-conteiner p {
  grid-column-start: 2;
  grid-row-start: 2;
  font-size: 32px;
}

.about__title {
  font-size: 64px;
  font-weight: 900;
}

.about__conteiner {
  padding-top: 104px;
  padding-bottom: 118px;
}

.about__benefits-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding-bottom: 131px;
}

.about__benefits-item {
  max-width: 250px;
  text-align: center;
}

.about__benefits-item svg {
  display: block;
  margin-bottom: 31px;
  margin-left: auto;
  margin-right: auto;
}

.about__benefits-description {
  margin-top: 12px;
}

.about__housing-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-top: 45px;
  margin-bottom: 45px;
}

.about_housing-item {
  width: 577px;
}

.about_housing-item h3 {
  margin-bottom: 32px;
  font-size: 36px;
  font-weight: 900;
}

.about_housing-item p {
  font-size: 20px;
}

.cookies {
  position: fixed;
  bottom: 3%;
  left: 2%;
  width: 936px;
  background-color: #fed6b8;
  border-radius: 20px;
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.25);
}

.cookies__conteiner {
  padding: 38px 68px;
}

.cookies__header {
  display: flex;
  margin-bottom: 31px;
  align-items: center;
  font-size: 36px;
  font-weight: 900;
}

.cookies__header svg {
  margin-right: 23px;
}

.cookies__buttons {
  margin-top: 25px;
}

.cookies__button-accept,
.cookies__button-reject {
  width: 194px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 24px;
  border-radius: 60px;
  background-color: inherit;
  cursor: pointer;
}

.cookies__button-accept {
  border: 2px solid #087313;
}

.cookies__button-reject {
  border: 2px solid rgba(0, 0, 0, 0.09);
}/*# sourceMappingURL=main.css.map */