@media screen and (min-width: 1280px) {
  .header {
    width: 100%;
  }
}
.header {
  z-index: 2;

  height: 130px;
  top: 0;
  left: 0;

  background-color: #fff;
}

@media screen and (min-width: 768px){
  .header {
    position: fixed;
  }
}

.header-conteiner {
  display: flex;
  height: 100%;
}

.logo-link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-img {
  width: 294px;
  height: 93px;
}

@media screen and (max-width: 767px) {
  .logo-img {
    width: 245px;
    height: 77px;
  }
}


.menu-button {
  width: 130px;
  height: 130px;

  border: none;
  border-radius: 50%;
  background-color: rgba(246, 246, 246, 1);
}

@media screen and (min-width: 767px) {
  .menu-button {
    display: none;
  }
}

.nav-list {
  margin-left: auto;
}
@media screen and (max-width:767px){
  .nav-list{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    padding: 137px 40px;
    width: 322px;
    
    background-color: #fff;

    opacity: 0;
    pointer-events: none;
  }
}
@media screen and (min-width: 768px){
  .nav-list{
    display: flex;
  }
}

.nav-item {
  padding-top: 48px;
  padding-bottom: 48px;
  font-size: 20px;
  font-weight: 400;
}

.nav-item:not(:last-child) {
  margin-right: 37px;
}
