.copyright {
  padding-top: 19px;
}

.copyright-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.39;
}

.social-list {
  display: flex;
  margin-left: auto;
}

.social-item:not(:last-child) {
  margin-right: 24px;
}

@media screen and (min-width: 768px) {
  .copyright {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .copyrigth-paragraph > span {
    display: block;
  }

  .social-list {
    margin-top: 11px;
    justify-content: center;
  }
}
