.hero {
  padding-top: 33px;
  background-color: #fff;
}

@media screen and (min-width: 768px){
  .hero {
    padding-top: 130px;
  }
}

.hero-conteiner {
  position: relative;
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: [first] 204px [line2] auto [line3] 204px;
}
@media screen and (max-width: 767px) {
  .hero-conteiner {
    grid-template-columns: 1fr;
    grid-template-rows: [first] auto [line2] 194px;
    ;
    /* display: flex; */
    
    /* grid-template-columns: 50% 50%; */
    /* grid-template-rows: 25% 25% 25% 25%; */
    
    /* grid-template-rows: [row1-start] 25% [row1-end] 25% [third-line] 25% [last-line]25%; */
  }
}

.main-title {
  display: block;
  padding-bottom: 10px;

  align-self: center;

  font-size: 48px;
  font-weight: 900;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .main-title {
    display: block;
    grid-area: 2/1/3/2;

    font-size: 64px;
  }
}

.hero-contents {

  margin-right: -16px;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .hero-contents {
    position: absolute;
    /* right: 0; */
    /* top: 0; */

    /* grid-column-start: 2; */
    /* grid-column-end: 2; */
    /* grid-row-start: 1; */
    /* grid-row-end: 5; */

    grid-area: 1/2/5/3;

    margin-right: -40px;
  }
}

.contents-text {
  margin-top: 19px;
  /* width: 764px; */
  font-size: 14px;
  font-weight: 400;
  line-height: 1.36;
}

@media screen and (max-width: 767px){
  .contents-text{
    margin-top: 17px;
  }

  .hero-img{
    max-width: 425px;
  }
}
