.housing {
    /* padding-top: 58px;
      padding-bottom: 122px; */
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  
    grid-area: 4/1/5/2;
  
    align-self: center; */
    padding-top: 20px;
  }

  @media screen and (max-width: 767px){
    .housing{
      padding-top: 260px;
    }
  }
  
  .housing-list {
    display: flex;
    text-align: center;
  
    font-size: 16px;
    font-weight: 300;
  }
  
  @media screen and (max-width:767px){
    .housing-list {
      justify-content: center;
    }
  }

  .housing-item{
    line-height: 1;
  }
  .housing-item:not(:last-child) {
    margin-right: 33px;
  }

  @media screen and (min-width:768px){
    .housing-item:not(:last-child) {
      margin-right: 113px;
    }
  }
  
  .housing-amount {
    display: block;
  
    font-size: 96px;
  }