.projects-conteiner {
  padding-top: 50px;
  padding-bottom: 50px;
}

.projects-list {
  padding-top: 32px;
  padding-bottom: 38px;
}

.card-item {
  justify-self: center;
}

.card__link-img {
  overflow: hidden;
  border-radius: 12px;
}
.card-link {
  display: block;
}

.card-img {
  transition: 150ms;
}

.card-item:hover .card-img {
  transform: scale(1.1);
}

.project-title {
  margin-top: 4px;
  font-size: 20px;
  margin-bottom: 3px;
  font-weight: 400;
  line-height: 1;
  /* width: 384.33px; */
  text-align: center;
}

.project-date {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .projects-conteiner {
    padding-top: 122px;
    padding-bottom: 48px;
  }

  .projects-list {
    padding-top: 41px;
    padding-bottom: 48px;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    column-gap: 24px;
    row-gap: 24px;
  }

  .card-item {
    width: 384.33px;
  }
}

@media screen and (max-width: 767px) {
  .card-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
