.news-conteiner {
  position: relative;
    padding-bottom: 119.5px;
  
    
  }
  
  .news-list {
    padding-top: 41px;
    padding-bottom: 48px;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    column-gap: 24px;
    row-gap: 24px;
  }
  
  .news-item {
    width: 384.33px;

    justify-self: center;
  }
  
  .news-date {
    margin-top: 16px;
  
    font-size: 14px;
    font-weight: 400;
  }
  
  .news-title {
    margin-top: 4px;
    font-size: 20px;
    font-weight: 400;
  }
  
  .news-text {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
  }